@charset "utf-8";

#container{
    font-size: 0.24rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    .hot_search{
        dt{
            font-size: 0.32rem;
            float: left;
            width: 1.7rem;
            height: 1rem;
            line-height: 0.48rem;
        }
        dd{
            float: left;
            color: #3B3B3B;
            margin-right: 0.4rem;
            
        }
    }
    .history{
        h2{
            font-size: 0.32rem;
            float: left;
            width: 1.7rem;
            line-height: 0.6rem;
        }
        ul{
            float: left;
            width: 2.64rem;
            color: #3B3B3B;
            li{
                border-bottom: 1px solid #898989;
                margin-top: 0.08rem;
                padding: 0 0.1rem;
            }
        }
    }
    .cr_history{
        margin-top: 0.6rem;
        text-align: center;
        button{
            width: 5.26rem;
            color: #f5eeee;
            padding: 0;
            height: 0.4rem;
            line-height: 0.4rem;
            border: none;
            background-color: #898989;
        }
    }
}
